{{ define "layout" }}



<!Doctype html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Paarfitness</title>


<link href="/cssjs/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/cssjs/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">



<!-- Navigation -->
<nav class="z-depth-5 shadow-lg navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
<div class=" container">
<!-- logo -->
                <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <img class="mb-2" src="/cssjs/img/pflogo.png" >
                </a>




<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">



                <ul class="nav navbar-nav ml-auto " id="pills-tab" role="tablist">
                <li class="nav-item">
                <a class="nav-link active" id="pills-start-tab " data-toggle="pill" href="#pills-start" href="">Training</a>
                </li>
                 <li class="nav-item">
                <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Partnerschaft</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">News</a>
                </li>

                <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Settings</a>
                </li>
                <li class="nav-item " action="/authenticate" method="post">
                <a class="nav-link  text-info"  href="/logout"  >Abmelden</a>
                </li>
                </ul>
</div>
</div>
</nav>




<section id="Startpage">

<div class="container">

<div class="row">
<div class="col-lg-8 mx-auto text-center">


<div class="tab-content" id="pills-tabContent">


<div class="tab-pane fade show active" id="pills-start" role="tabpanel" aria-labelledby="pills-start-tab"> {{ template "startpagetmp" . }}</div>

<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">{{ template "settings" . }}</div>


<div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">{{ template "news" . }}</div>

</div>



 


</div>
</div>
</div>

</section>


















<div class="container text-center">
  
      <footer id ="hierher" class="pt-md-5 border-top">
      <div class="row">
  
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>

</div>
    <!-- Footer -->



    <!-- Bootstrap core JavaScript -->
    <script src="cssjs/jquery/jquery.min.js"></script>
    <script src="cssjs/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/cssjs/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="/cssjs/js/scrolling-nav.js"></script>


<!-- cdn -->


    <!-- local javascript -->
   
    <!-- CDN end -->


  </body>

</html>

{{ end }}
