{{ define "layout" }}



<!Doctype html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Paarfitness</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    
    <link href="/cssjs/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/cssjs/css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
      <div class="container">
        <!-- logo -->
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <img class="mb-2" src="/cssjs/img/pflogo.png" >
      </a>



        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">TRAINING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">ERNÄHRUNG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#partnerschaft">PARTNERSCHAFT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-info"  data-toggle="modal" data-target="#exampleModalCenter1">Anmelden</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


<!-- Banner! -->
    <div style="background: url('cssjs/img/banner.jpg') no-repeat center ;   background-size: cover;" class="jumbotron-fluid jumbotron">

<br>
<br><br><br><br><br><br><br><br><br><br><br><br>
 <header class="bg text-dark mt-5 ">
    <div class="container text-center mt-5">
        <!-- <h1>Welcome to Scrolling Nav</h1> -->
        <!-- <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p> -->
      </div>
  </header> 
    </div>




<center>
  

{{ template "logintemp" . }}

<!--  -->

    <section id="about">

      <div class="container">
       
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Ihr PaarFit Training</h2>
            <p class="lead">Das PaarFit-Training ist ein interaktives Training mit dem eigenen Körpergewicht und dem Ihres Partners. Wählen Sie aus differenzierten Übungspools Ihre bevorzugten Übungen aus und trainieren Sie nach dem PaarFit Prinzip um wöchentliche Fortschritte zu erzielen. </p>
 
          </div>
        </div>
      </div>
   
    </section>


<div style="background: url('cssjs/img/food.png') no-repeat center ;   background-size: cover;" class="jumbotron-fluid jumbotron">
    <section id="services" class="">
      
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Ernährung</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
          </div>
        </div>
      </div>

    </section>
</div>


    <section id="partnerschaft">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Partnerschaft</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
            <ul class = "text-center list-unstyled text-small">
              



            </ul>
          </div>
        </div>
      </div>
    </section>

        <section id="contact" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2>Contakt</h2>
              <a class="navbar-brand js-scrolla-trigger" href="#page-top">
              <img class="mb-2" src="cssjs/img/pflogo.png" >
              </a>
               <ul class = "text-center list-unstyled text-small">
              
              <li>
                <p>Rennerstraße 2</p>
              </li>
              <li>
                <p>93053 Regensburg</p>
              </li>
              <li>
                <p>0151 594 545 96</p>

              </li>
              <li>
                <p>paarfit@gmx.de</p>
              </li>


            </ul>
          </div>
        </div>
      </div>
    </section>



<div class="container text-center">
  
      <footer id ="hierher" class="pt-md-5 border-top">
      <div class="row">
  
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>

</div>
    <!-- Footer -->



    <!-- Bootstrap core JavaScript -->
    <script src="cssjs/jquery/jquery.min.js"></script>
    <script src="cssjs/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/cssjs/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="/cssjs/js/scrolling-nav.js"></script>


<!-- cdn -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>

    <!-- local javascript -->
   
    <!-- CDN end -->


  </body>

</html>

{{ end }}
