
.input-fields {
	padding-left: 35%;
	padding-right: 35%;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#captcha_element {
    width: 66%;
    display: block;
    margin: auto;
}



h1.logo {
  font-family: "Impact";
  font-size: 80px !important;
  font-weight: normal;
  color: #FF1493;
}
h1.deinVater{

      font-family: "Impact";
  font-size: 80px !important;
  font-weight: normal;
  color: #e75e9d;
}
